@use '@styles/mixins';

html,
body {
  overscroll-behavior-y: none;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-base);
  font-size: 1.6rem;
  line-height: 2;
  color: var(--color-black);
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;

  @include mixins.mq(sm) {
    font-size: 1.2rem;
  }
}

img {
  @include mixins.mq(sm) {
    width: 100%;
    height: auto;
  }
}
