@use '@styles/mixins';

.wrapper {
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--pc-inner-width);
  padding: 150px 0;
  margin: 0 auto;

  @include mixins.mq(sm) {
    gap: 35px;
    width: 100%;
    padding: 45px 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mixins.mq(sm) {
    gap: 25px;
  }
}

.headContent {
  display: grid;
  grid-template: none / repeat(2, 1fr);
  gap: 60px;

  @include mixins.mq(sm) {
    grid-template: none;
    gap: 20px;
  }
}

.headContentInner {
  display: grid;
  grid-template: repeat(2, 1fr) / none;
  gap: 25px;

  @include mixins.mq(sm) {
    grid-template: none;
    gap: 20px;
  }
}

.thumbnailWrapper {
  display: grid;
  grid-template: none / repeat(3, 1fr);
  gap: 32px;
  margin-top: 10px;

  @include mixins.mq(sm) {
    grid-template: none;
    gap: 28px;
    margin-top: 0px;
  }
}
