@use '@styles/mixins';

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--pc-width);
  min-height: 100vh;

  @include mixins.mq(sm) {
    min-width: auto;
  }

  // &:global(.is-lock) {
  //   position: fixed;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   overflow-y: scroll !important;
  // }
}

.inner {
  margin-top: 60px;

  @include mixins.mq(sm) {
    margin-top: 0;
  }
}
