@use '@styles/mixins';

.wrapper {
  &[data-type='1'] {
    font-family: var(--font-mincho);
    font-size: 7.5rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    letter-spacing: 0.1em;
    white-space: pre-wrap;

    @include mixins.mq(sm) {
      font-size: 3rem;
      line-height: 1.5;
    }
  }

  &[data-type='2'] {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 35px;
    font-size: 3.2rem;
    font-weight: var(--font-weight-bold);

    @include mixins.mq(sm) {
      gap: 8px;
      height: 18px;
      font-size: 1.8rem;
      line-height: 1;
    }

    &::before {
      display: block;
      width: 10px;
      height: 100%;
      content: '';
      background-color: var(--color-blue);

      @include mixins.mq(sm) {
        width: 6px;
      }
    }
  }

  &[data-type='3'] {
    height: 40px;
    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    background: linear-gradient(transparent 75%, rgba(#005bac, 50%) 0%);

    @include mixins.mq(sm) {
      height: 19px;
      font-size: 1.6rem;
      line-height: 1;
    }
  }

  &[data-type='4'] {
    padding: 0 14px;
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    line-height: 30px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 15px;

    @include mixins.mq(sm) {
      padding: 0 8px;
      font-size: 1rem;
      line-height: 16px;
    }
  }

  &[data-type='5'] {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
    background-color: var(--color-light-blue);
    border-radius: 5px;

    @include mixins.mq(sm) {
      height: 30px;
      padding: 0 15px;
      font-size: 1.6rem;
    }
  }
}
