@use '@styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @include mixins.mq(sm) {
    gap: 12px;
    align-items: flex-start;
  }
}

.text {
  font-size: 1.4rem;
  line-height: 2;

  @include mixins.mq(sm) {
    font-size: 1rem;
  }

  &[data-text-size='lg'] {
    @include mixins.mq(sm) {
      font-size: 1.2rem;
    }
  }
}
